################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/3.1_WebAPI_lab/.vs/3.1_WebAPI_lab/FileContentIndex
